upstream application { 
  {% for host in groups['tiling'] %}
    server {{ host }}
  {% endfor %}
}

server {  
  listen  80;
  server_name vector-tiling.org;

  location / {
    proxy_set_header  Host             $host;
    proxy_set_header  X-Real-IP        $remote_addr;
    proxy_set_header  X-Forwarded-For  $remote_addr;
    proxy_pass http://application;
  }
}