upstream tilers { 
  {% for host in groups['tiling'] %}
    server {{ host }}:{{ tile_port }};
  {% endfor %}
}

server {  
  listen  {{ port }};
  server_name vector-tiling.org;

  location / {
    proxy_set_header  Host               $host:$server_port;
    proxy_set_header  X-Real-IP          $remote_addr;
    proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto  $scheme;
    proxy_pass http://tilers;
  }
}